@import "tailwindcss";

.max-width {
    @media (width >= 80rem /* 1280px */) {
        max-width: 1200px !important;
    }

    @media (width >= 64rem /* 1280px */) {
        padding-inline: 25px;
    }
}

.font-inter {
    font-family: "Inter", serif;
}

.font-montserrat {
    font-family: "Montserrat", serif;
}

/* Footer Designs */
.bg-clip-cta {
    -webkit-clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .bg-clip-cta {
        -webkit-clip-path: polygon(0 0, 100% 29%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 29%, 100% 100%, 0% 100%);
    }
}

@media (min-width: 1281px) {
    .bg-clip-cta {
        -webkit-clip-path: polygon(0 0, 100% 45%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 45%, 100% 100%, 0% 100%);
    }
}

.bg-mask {
    -webkit-mask-image: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
    mask-image: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
}

/* Class to hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.no-scrollbar {
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
}
