@import "tailwindcss";

.max-width {
    padding-inline: 20px;

    @media (width >= 80rem /* 1280px */) {
        max-width: 1200px !important;
    }

    @media (width >= 64rem /* 1280px */) {
        padding-inline: 25px;
    }
}

.font-inter {
    font-family: "Inter", serif;
}

.font-montserrat {
    font-family: "Montserrat", serif;
}

/* Home Design */
.home-hero-container {
    background: radial-gradient(
        59.82% 121.73% at -9.66% 130.31%,
        #00e9ea 0%,
        #1f80f0 52.08%,
        #005bc4 100%
    );

    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 97%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 97%);
}

/* Adjust for mid-sized screens */
@media (max-width: 1280px) {
    .home-hero-container {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 92%, 0% 100%);
    }
}

/* Home hero image */
.home-hero-image {
    -webkit-clip-path: polygon(
        67% 0,
        100% 0,
        100% 68%,
        80% 100%,
        0 100%,
        32% 51%
    );
    clip-path: polygon(67% 0, 100% 0, 100% 68%, 80% 100%, 0 100%, 32% 51%);
}

/* Footer Designs */
.bg-clip-cta {
    -webkit-clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 14%, 100% 100%, 0% 100%);
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .bg-clip-cta {
        -webkit-clip-path: polygon(0 0, 100% 29%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 29%, 100% 100%, 0% 100%);
    }
}

@media (min-width: 1281px) {
    .bg-clip-cta {
        -webkit-clip-path: polygon(0 0, 100% 45%, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 45%, 100% 100%, 0% 100%);
    }
}

/* Class to hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
}

.no-scrollbar {
    -ms-overflow-style: none; /* Hides scrollbar in IE and Edge */
    scrollbar-width: none; /* Hides scrollbar in Firefox */
}

/* Float animation */
@keyframes float {
    0%,
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-6px);
    }
}

/* Custom delays */
.delay-0 {
    animation-delay: 0s;
}
.delay-1 {
    animation-delay: 0.5s;
}
.delay-2 {
    animation-delay: 1s;
}
.delay-3 {
    animation-delay: 1.5s;
}
